:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: gold;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.members {
  border-style: dotted;
  background-color: turquoise;
  width: 350px;
  height: 340px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px greenyellow;
  display: inline-flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
}

.inputs {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: space-between;
  background-color: aquamarine;
}

.inputs:hover {
  box-shadow: 5px 5px 2px 2px goldenrod;
}

.created-page {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  top: 100px;
}

.create-btn {
  background-color: aqua;
  width: 150px;
  height: 50px;
}

.detail {
  padding: 40px;
  border-radius: 10px;
  margin-top: 100px;
  width: 500px;
  height: 400px;
}

.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  border-radius: 5px;
  width: 200px;
  height: 25px;
}

.buttons {
  display: inline-flex;
  justify-content: space-between;
  align-items: space-between;
  color: aquamarine;
  background-color: #747bff;
}

.red {
  background-color: lightskyblue;
}

.aquamarine {
  background-color: aquamarine;
}

.table {
  display: inline-flex;
  flex-direction: column;
}
